<form>
    <input type="email" placeholder="email">
    <input type="password" placeholder="password">
    <input type="password" placeholder="Confirm password">
    <button type="button">signup</button>
</form>